* {
	transition: all .1s ease-in;
}

html {
	border: 15px solid white;
	font-family: “Trebuchet MS”, Trebuchet, Arial, sans-serif;
	background: #3B3F45;
	font-size: 18px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	/* Что бы убрать прокрутку добавляем box-sizing*/
	box-sizing: border-box;
}

/*Для боди обнуляем margin и padding что б отступов не было*/
body{
	margin: 0;
	padding: 0;
}
html, body {
	min-height: 100%;
	height: 100%;
}
.container {
	min-height: 100%;
	height: auto;
}

header {
	background: #4A4F56;
	color: #EB7E7F;
	text-align: center;
	width: 100%;
}

header h1{
	/** Что бы был отступ сверху, но что бы не сдвигал header **/
	margin-top: 0;
	padding-top: 20px;
}

form {
	width: 50%;
}

footer {
	margin-top: 2%;
	background: #4A4F56;
	color: #EB7E7F;
	width: 50%;
	height: 40px;
	text-align: center;
}

footer span {
	display: inline-block;
	height: 10%;
	vertical-align: middle;
	font-size: 20px;
}

.center {
	margin-left: 25%;
}

.description {
	color: #CDCBD6;
	font-size: 12px;
}

span.description:before {
	content: '( ';
}

span.description:after {
	content: ' )';
}

label {
	display: block;
	border: 2px solid transparent;
	background: #88839E;
	color: white;
	height: 40px;
}

label:nth-child(2n) {
	background: #7A7593;
}

label:hover {
	border-bottom: 2px solid white;
	border-top: 2px solid white;
	background: #605C75;
}
label:active {
	background: #EB7E7F;
	opacity: 0.4;
}
input:checked ~ span {
	color: #CDCBD6;
	text-decoration: line-through;
}

input[type="checkbox"] {
	zoom:1.6;
}